<section class="container-fluid"
         [ngClass]="{'section-container-green': generateCount % 1 === 0}" #section>
  <div class="row justify-content-around">
    <div class="col-md-4 puzzleContainer">
      <div *ngFor="let number of puzzle; let i = index"
           #numInSquare
           [attr.id]="number"
           [ngClass]="{'square': number !== 0, 'square-blank-space': number === 0}">
        <div class="content">
          <div class="table">
          <div class="table-cell">
          {{number}}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-4 result" *ngIf="actionsList">
<!--      <i *ngFor="let action of actionsList"> {{action}},</i> -->
      <div class="label">Number of Moves = {{myMoves}}</div>
      <div class="lable">Heuristics</div>
      <div *ngFor="let heuristic of heuristicList; let idx = index">
        <div class="row">
          <div class="col-sm-1">
              <input type="radio" name="radiogroup" 
              [checked]="idx === 0" 
              (change)="onHeuristicChange(heuristic)">
          </div>
          <div class="col-sm-11">
              {{ heuristic }}
            </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="container-fluid nav">
    <div class="row">
      <div class="col">
        <button class="pill" (click)="regenerate()" [disabled]="running">Generate</button>
        <button class="pill" (click)="solve()" [disabled]="running">Solve</button>
        <button class="pill" (click)="reset()" [disabled]="running">Reset</button>
      </div>
    </div>
   
  </div>
</section>
